.button {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    &:hover {
    }

    &.icon-left {
        flex-flow: row;
    }

    &.icon-right {
        flex-flow: row;
    }

    &.icon-top {
        flex-flow: column;
    }

    &.icon-bottom {
        flex-flow: column;
    }

    .iconWrapper {
        display: block;
        margin: auto;
    }
}
