body,
html {
    background-color: theme-chrome(high);
    font-family: theme-typography(family-body);
    font-size: theme-typography(size-body);
    overflow: hidden;
}

#root {
    @include rem(font-size, 16px);
}
