$chormeColors: (
    high: #dedede,
    high-medium: #c4c4c4,
    medium: #a1a1a1,
    low-medium: #ababab,
    low: #999999
);
$baseColors: (
    high: #222222,
    high-medium: #333333,
    medium: #444444,
    low-medium: #555555,
    low: #666666
);
