@import "./darkTheme";

@import url("https://fonts.googleapis.com/css?family=Alegreya|Lato:900");

$font-body: "Alegreya", serif;
$font-heading: "Lato", sans-serif;

$breakpoints: (
    xsmall: 320px,
    small: 600px,
    medium: 960px,
    large: 1280px,
    xlarge: 1920px
);
$typography: (
    family-body: $font-body,
    family-heading: $font-heading
);
$fontSizes: (
    h1: 48,
    h2: 32,
    h3: 28,
    h4: 22,
    h5: 18,
    h6: 16,
    body: 100%,
    default: 13,
    small: 11
);
$accentColors: (
    high: #126ef5,
    high-medium: #3885f7,
    medium: #5e9cf9,
    low-medium: #83b3fa,
    low: #a9cafc
);
$statusColors: (
    warning: #bcb34f,
    success: #4fbc7b,
    danger: #e94b35,
    error: #bc4f4f
);
@function theme-breakpoint($name) {
    @if (map-get($breakpoints, $name)) {
        @return map-get($breakpoints, $name);
    } @else {
        @error "must contain one of the following strings: #{$breakpoints}";
    }
}
@function theme-typography($name) {
    @if (map-get($typography, $name)) {
        @return map-get($typography, $name);
    } @else {
        @error "must contain one of the following strings: #{$typography}";
    }
}
@function theme-fontSize($name) {
    @if (map-get($fontSizes, $name)) {
        @return map-get($fontSizes, $name);
    } @else {
        @error "must contain one of the following strings: #{$fontSizes}";
    }
}
@function theme-accent($name) {
    @if (map-get($accentColors, $name)) {
        @return map-get($accentColors, $name);
    } @else {
        @error "must contain one of the following strings: #{$accentColors}";
    }
}
@function theme-base($name) {
    @if (map-get($baseColors, $name)) {
        @return map-get($baseColors, $name);
    } @else {
        @error "must contain one of the following strings: #{$baseColors}";
    }
}
@function theme-chrome($name) {
    @if (map-get($chormeColors, $name)) {
        @return map-get($chormeColors, $name);
    } @else {
        @error "must contain one of the following strings: #{$chromeColors}";
    }
}
@function theme-base($name) {
    @if (map-get($baseColors, $name)) {
        @return map-get($baseColors, $name);
    } @else {
        @error "must contain one of the following strings: #{$baseColors}";
    }
}
@function theme-fontColor($name) {
    @if (map-get($baseColors, $name)) {
        @return map-get($baseColors, $name);
    } @else {
        @error "must contain one of the following strings: #{$baseColors}";
    }
}
