@import url("https://fonts.googleapis.com/css?family=Alegreya|Lato:900");
.header {
  background-color: #4fbc7b;
}

.footer {
  background-color: #126ef5;
}

.home {
  background-color: red;
}

body {
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 100%;
}
